ESPN_LEAGUE_ID=123456
ESPN_SWID={YOUR-SWID-HERE}
ESPN_S2=YOUR_ESPN_S2_COOKIE_HERE

# Inclusive season range to export.
ESPN_START_YEAR=2018
ESPN_END_YEAR=2025

# Most ESPN fantasy football seasons fit in 18 NFL weeks.
ESPN_MAX_WEEK=18

# Generated data target. This is safe to commit only if you are comfortable
# publishing the league/member data in the static site.
ESPN_OUTPUT_DIR=data/espn
